<% @posts.each_with_index do |post, index| %>
<div class="bg-red-500">
    <span><%= index + 1 %></span>
    <a href="/show/<%= post.id %>">
        <%= post.title %>
    </a>    
</div>
<hr>
<% end %>

<%= form_tag "/post/create", method: :post do %>
    <label for="title">제목</label>
    <input type="text" name="title" /><br />
    <label for="description">내용</label>
    <input type="text" name="description" />
    <button type="submit">제출</button>
<% end %>